@use './partials/globals';
@use '../components/Header/Header';
@use '../components/Header/NavBar';
@use '../components/Header/SearchBar';
@use '../components/Card/Card';
@use './content/content';

.content {
  position: relative;
  width: 1080px;
  min-height: 100vh;
  left: calc(50% - 540px);
  padding: 10rem 5%;
  background: #fff;
  box-shadow: 0 0 20px 0 #666;
  color: #333;
  font: 1.125rem Cabin;
  line-height: 1.5rem;
  text-align: justify;
}