@use './colors' as *;
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC|Crimson+Text|Cabin|IM+Fell+Great+Primer:ital@0;1');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url('../assets/bg-hatch.svg');
  min-height: 100vh;
}

h1 {
  font-family: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: $green;
}

h2 {
  font-family: 'Vollkorn SC';
  color: $darkBlue;
  font-weight: bold;
}

intro {
  display: block;
  font-size: 1.625rem;
  line-height: 2.5rem;
  margin-bottom: -2.5rem;
}